
<!doctype html>
<html>
<head>
    <title>Welcome to Connexus</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

</head>

<body>
<div>
    <h1>Welcome to Connexus!</h1>
    <h3>Share the world!</h3>
    <br />
    <form>
        <p>
            <input type="text" placeholder="Gmail UserID" />
        </p>
        <p>
            <input type="text" placeholder="Gmail Password" />
        </p>
    </form>
</div>
</body>
</html>