
<!doctype html>
<html>
<head>
    <title>Welcome to Connexus</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

</head>

<body>
<div>
    <h1>Connexus.us</h1>
        <ul>
            <li><a href="/manage">Manage</a> </li>
            <li><a href="/create">Create</a> </li>
            <li><a href="/view">View</a> </li>
            <li><a href="/search">Search</a> </li>
            <li><a href="/trend">Trending</a> </li>
            <li><a href="/manage">Social</a> </li>
        </ul>

    <div>
        <form>
            <input type="file" name="img" />
            <input type="text" name="comments" id="comments" class="'txt" />
            <input type="submit" value="Upload" />
        </form>
    </div>

    <div>
        <form>
            <input type="submit" value="Subscribe" />
        </form>
    </div>

</div>
</body>
</html>
